<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>Add user data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <app-simple-string-input
            [groupRef]="form"
            [formCName]="'name'"
            [placeholder]="'Name'"
            [valido]="valido"
          >
          </app-simple-string-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-simple-string-input
            [groupRef]="form"
            [formCName]="'family'"
            [placeholder]="'Family'"
            [valido]="valido"
          >
          </app-simple-string-input>
        </div>
      </div>

      <div class="row">
        <div class="col form-sector">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Gender"
              formControlName="gender"
              panelClass="custom-mat-select"
            >
              <mat-option
                *ngFor="let gender of genderOptions"
                [value]="gender.value"
              >
                {{ gender.title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['gender'].hasError('required')">
              Gender is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-two form-sector">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Age"
              formControlName="age"
              panelClass="custom-mat-select"
            >
              <mat-option *ngIf="!form.controls['age'].value" disabled="true"
                >Please, select</mat-option
              >
              <mat-option *ngFor="let age of ageRange" [value]="age">
                {{ age }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['age'].errors">
              {{ valido.getErrorMessageFromControl(form.controls["age"]) }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-simple-string-input
            [groupRef]="form"
            [formCName]="'profession'"
            [placeholder]="'Profession'"
            [valido]="valido"
          >
          </app-simple-string-input>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="goToUsersList()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
